.cardsDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    margin: auto;
}

.cardsDiv .errorDiv{
    background-color: aqua;
    margin: auto;
    margin-top: 10%;
    font-size: 30px;
}