
.cardDiv{
    height: auto;
    width: 200px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    border-style: ridge;
}

.cardDiv img{
    width: 70%;
    height: 70%;
    margin: auto;
}

.cardDiv span{
    padding: 5px;
}

.cardDiv label{
    margin: 5px;
}

.cardDiv h2{
    margin-top: 5px;
    margin-bottom: 5px;
}